.reviews {
	padding: rem(48) rem(0);
	@media (max-width: $tablet) {
		padding: rem(40) rem(0);
	}
	@media (max-width: $mobile) {
		padding: rem(32) rem(0);
		overflow: hidden;
	}
	&__container {
	}
	&__descr {
		font-weight: 300;
		font-size: rem(18);
		color: $gray-400;
		@media (max-width: $tablet) {
			font-size: rem(16);
		}
		@media (max-width: $mobile) {
			font-size: rem(15);
		}
		&:not(:last-child) {
			margin-bottom: rem(8);
		}
	}
	&__title {
		&:not(:last-child) {
			margin-bottom: rem(24);
			@media (max-width: $mobile) {
				margin-bottom: rem(16);
			}
		}
	}
	&__slider {
		@media (max-width: $mobile) {
			overflow: visible;
		}
	}
	&__wrapper {
	}
	&__slider-nav {
	}
	&__slider-btn {
		&_prev {
		}
		&_next {
		}
	}
}

.review {
	margin-right: rem(16);
	flex: 0 0 calc((100% - rem(16 * 2)) / 3);
	border-radius: rem(16);
	background: $white;
	padding: rem(32);
	@media (max-width: $tablet) {
		flex: 0 0 calc((100% - rem(16)) / 2);
	}
	@media (max-width: $mobile) {
		flex: 0 0 100%;
		padding: rem(24);
	}
	&__top {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: rem(12);
		&:not(:last-child) {
			margin-bottom: rem(12);
		}
	}
	&__rating {
	}
	&__text {
	}
}
a.review__link {
	font-weight: 400;
	font-size: rem(14);
	line-height: 1.4;
	text-decoration: underline;
	text-decoration-skip-ink: none;
	color: $blue-500;
	display: inline-block;
	transition: color 0.3s;
	@media (any-hover: hover) {
		&:hover {
			color: $mainColor;
		}
	}
	&::after {
		content: " →";
	}
	&:not(:last-child) {
		margin-bottom: rem(12);
	}
}
.review-user {
	display: flex;
	gap: rem(12);
	&__icon {
		flex: 0 0 rem(44);
		width: rem(44);
		height: rem(44);
		border-radius: 50%;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__right {
	}
	&__name {
		font-weight: 400;
		line-height: 1.25;
		&:not(:last-child) {
			margin-bottom: rem(4);
		}
	}
	&__date {
		font-weight: 300;
		font-size: rem(12);
		line-height: 1.6;
		letter-spacing: 0.04em;
		color: $gray-400;
	}
}
