// Базовые стили хлебных крошек
// Сниппет (HTML): breadcrumbs

.breadcrumbs {
	font-size: rem(14);
	&:not(:last-child) {
		margin-bottom: rem(32);
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		row-gap: rem(8);
		li {
			display: flex;
			align-items: center;
			&:not(:last-child) {
				&::after {
					content: "/";
					padding: rem(0) rem(12);
				}
			}
		}
	}

	&__item {
		color: $gray-500;
	}
}
a.breadcrumbs__link {
	color: $blue-600;
	text-decoration: underline;
	text-decoration-skip-ink: none;
	@media (any-hover: hover) {
		&:hover {
			text-decoration: none;
		}
	}
}
