//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: rem(16) rem(24);
	line-height: 1.25;
	font-weight: 400;
	color: $gray-5;
	background: $gray-900;
	border-radius: rem(800);
	gap: rem(8);
	transition: 0.4s;
	@media (any-hover: hover) {
		&:hover {
			opacity: 0.7;
		}
	}
	&_blue {
		background: $blue-400;
		color: $blue-5;
	}
	&_bd {
		color: $blue-500;
		background: transparent;
		border: rem(1) solid $blue-50;
		padding: rem(15) rem(23);
		@media (any-hover: hover) {
			&:hover {
				border-color: $mainColor;
				opacity: 1;
			}
		}
	}
	&_w {
		box-shadow: 0 rem(4) rem(8) rem(-1) rgba(88, 117, 143, 0.28);
		background: $white;
		color: $gray-900;
		padding: rem(10) rem(15) rem(10) rem(16);
		font-size: rem(15);
		@media (any-hover: hover) {
			&:hover {
				color: $white;
				background: $gray-900;
			}
		}
	}
	&_decor {
	}
	&__icon {
		flex: 0 0 rem(20);
		width: rem(20);
		height: rem(20);
		&_arrow {
			transform: rotate(-90deg);
		}
	}
}
