//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
input[type="date"] {
	display: flex;
	align-items: center;
}
.input {
	border-radius: rem(12) !important;
	width: 100%;
	display: block;
	padding: rem(0) rem(10);
	background: $gray-10;
	font-size: rem(15);
	height: rem(44);
	&.error {
		color: $red-500;
	}
	&::placeholder {
		opacity: 1; // for Firefox
	}
}
textarea.input {
	resize: none;
	padding: rem(0) rem(0);
}

.input-wrapper {
	display: flex;
	flex-direction: column;
	gap: rem(4);
	&__placeholder {
		font-weight: 400;
		font-size: rem(14);
		line-height: 1.4;
	}
	&__descr {
		font-weight: 300;
		font-size: rem(12);
		line-height: 1.6;
		letter-spacing: 0.04em;
		color: $gray-600;
	}
}
