.articles {
	padding: rem(48) rem(0);
	@media (max-width: $tablet) {
		padding: rem(40) rem(0);
	}
	@media (max-width: $mobile) {
		padding: rem(32) rem(0);
	}
	&__container {
		max-width: rem(1000);
	}
	&__title {
		font-size: rem(48);
		@media (max-width: $tablet) {
			font-size: rem(36);
		}
		@media (max-width: $mobile) {
			font-size: rem(28);
		}
		&:not(:last-child) {
			margin-bottom: rem(24);
			@media (max-width: $mobile) {
				margin-bottom: rem(16);
			}
		}
	}
	&__filter {
		gap: rem(8);
		&:not(:last-child) {
			margin-bottom: rem(24);
			@media (max-width: $mobile) {
				margin-bottom: rem(16);
			}
		}
	}
	&__cols {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		gap: rem(24);
		@media (max-width: $mobile) {
			gap: rem(16);
			grid-template-columns: 1fr 1fr;
		}
		@media (max-width: $mobileSmall) {
			grid-template-columns: 1fr;
		}
		&:not(:last-child) {
			margin-bottom: rem(32);
			@media (max-width: $mobile) {
				margin-bottom: rem(24);
			}
		}
	}
	&__col {
		grid-column: span 6;
		@media (max-width: $mobile) {
			grid-column: span 2;
		}
		@media (max-width: $mobileSmall) {
			grid-column: span 1;
		}
		&:first-child {
			.article {
				min-height: rem(400);
				padding: rem(32);
				@media (max-width: $mobile) {
					padding: rem(16);
					min-height: rem(400);
				}
			}
			.article__label {
				font-size: rem(28);
				@media (max-width: $tablet) {
					font-size: rem(24);
				}
				@media (max-width: $mobile) {
					font-size: rem(15);
				}
			}
		}
		&_2 {
			grid-column: span 3;
			@media (max-width: $mobile) {
				grid-column: span 1;
			}
			.article {
				padding: rem(24);
				@media (max-width: $mobile) {
					padding: rem(16);
				}
			}
			.article__label {
				font-size: rem(20);
				@media (max-width: $tablet) {
					font-size: rem(18);
				}
				@media (max-width: $mobile) {
					font-size: rem(15);
				}
			}
		}
		&_3 {
			grid-column: span 2;
			@media (max-width: $mobile) {
				grid-column: span 1;
			}
		}
	}
}

.article {
	position: relative;
	border-radius: rem(24);
	overflow: hidden;
	padding: rem(16);
	min-height: rem(320);
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	@media (max-width: $mobile) {
		min-height: rem(240);
	}
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, rgba(17, 23, 28, 0) 0%, rgba(17, 23, 28, 0.32) 40%, rgba(17, 23, 28, 0.88) 75%);
		z-index: 2;
	}
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__row {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: rem(8);
		position: relative;
		z-index: 3;
		&:not(:last-child) {
			margin-bottom: rem(8);
		}
	}
	&__tag {
		border-radius: rem(8);
		padding: rem(2) rem(8);
		background: $gray-25;
		font-weight: 400;
		font-size: rem(14);
		line-height: 1.4;
		white-space: nowrap;
	}
	&__date {
		font-weight: 300;
		font-size: rem(12);
		line-height: 1.6;
		letter-spacing: 0.04em;
		color: $gray-5;
	}
	&__label {
		font-weight: 300;
		font-size: rem(18);
		line-height: 1.6;
		position: relative;
		z-index: 3;
		color: $white;
		display: -webkit-box;
		-webkit-line-clamp: 3; /* количество строк */
		-webkit-box-orient: vertical;
		overflow: hidden;
		@media (max-width: $tablet) {
			font-size: rem(16);
		}
		@media (max-width: $mobile) {
			font-size: rem(15);
		}
		a {
			transition: opacity 0.3s;
			@media (any-hover: hover) {
				&:hover {
					opacity: 0.7;
				}
			}
		}
	}
}
