.footer {
	background: $gray-900;
	padding: rem(48) rem(0);
	@media (max-width: $tablet) {
		padding: rem(40) rem(0);
	}
	@media (max-width: $mobile) {
		padding: rem(32) rem(0);
	}
}
.footer-top {
	padding: rem(48) rem(0);
	@media (max-width: $tablet) {
		padding: 0;
	}
	&:not(:last-child) {
		margin-bottom: rem(24);
		@media (max-width: $mobile) {
			margin-bottom: rem(16);
		}
	}
	&__container {
		display: flex;
		gap: rem(62);
		@media (max-width: $pc) {
			gap: rem(32);
		}
		@media (max-width: $tablet) {
			flex-direction: column;
			gap: rem(24);
		}
		@media (max-width: $mobile) {
			gap: rem(16);
		}
	}
	&__cols {
		display: flex;
		gap: rem(62);
		@media (min-width: $tablet) {
			flex: auto;
		}
		@media (max-width: $pc) {
			gap: rem(32);
		}
		@media (max-width: $tablet) {
			gap: rem(24);
			flex-direction: column;
			padding: rem(40) rem(0);
		}
		@media (max-width: $mobile) {
			padding: rem(32) 0;
			gap: rem(16);
		}
	}
}
.footer-col {
	flex: 0 1 percent(200, 898);
	@media (max-width: $pc) {
		flex: auto;
	}
	&:last-child {
		flex: auto;
	}
	&__label {
		transition: color 0.35s;
		@media (min-width: $tablet) {
			cursor: default;
		}
		@media (max-width: $tablet) {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: rem(16);
		}
		&._spoller-active {
			@media (max-width: $tablet) {
				color: $white;
			}
		}
		&:not(:last-child) {
			@media (min-width: $tablet) {
				margin-bottom: rem(16);
			}
		}
	}
	&__label-icon {
		flex: 0 0 rem(22);
		width: rem(22);
		height: rem(22);
		transition: transform 0.4s;
		@media (min-width: $tablet) {
			display: none;
		}
		._spoller-active & {
			transform: rotate(90deg);
		}
	}
	&__list {
		@media (max-width: $tablet) {
			padding: rem(16) rem(16) rem(0) rem(16);
		}
	}
	&__item {
		a {
			font-size: rem(15);
			line-height: 1.6;
			text-decoration-skip-ink: none;
			color: $white;
			transition: color 0.35s;
			@media (any-hover: hover) {
				&:hover {
					color: $gray-300;
					text-decoration: underline;
				}
			}
		}
		&:not(:last-child) {
			margin-bottom: rem(12);
		}
	}
}
.footer-contacts {
	color: $white;
	@media (min-width: $tablet) {
		flex: 0 0 percent(320, 1280);
	}
	@media (max-width: $tablet) {
		padding: rem(40) rem(0);
		border-top: rem(1) solid $gray-800;
	}
	@media (max-width: $mobile) {
		padding: rem(32) rem(0);
	}
	&__label {
		&:not(:last-child) {
			margin-bottom: rem(16);
		}
	}
	&__phone {
		display: inline-block;
		font-weight: 500;
		font-size: rem(24);
		transition: color 0.35s;
		@media (max-width: $tablet) {
			font-size: rem(20);
			line-height: 1.6;
		}
		@media (max-width: $mobile) {
			font-size: rem(18);
		}
		@media (any-hover: hover) {
			&:hover {
				color: $gray-300;
			}
		}
		&:not(:last-child) {
			margin-bottom: rem(16);
		}
	}
	&__descr {
		font-size: rem(14);
		&:not(:last-child) {
			margin-bottom: rem(16);
		}
	}
}
.footer-socials {
	display: flex;
	gap: rem(16);
	&__item {
		flex: 0 0 rem(40);
		width: rem(40);
		display: flex;
		a {
			font-size: 0;
			transition: transform 0.4s;
			will-change: transform;
			@media (any-hover: hover) {
				&:hover {
					transform: scale(1.1);
				}
			}
			img {
				width: 100%;
				height: auto;
			}
		}
	}
}
.footer-bottom {
	&__container {
	}
	&__body {
		border-top: rem(1) solid $gray-800;
		padding: rem(48) rem(0);
		@media (max-width: $tablet) {
			padding: rem(40) rem(0);
		}
		@media (max-width: $mobile) {
			padding: rem(32) rem(0);
		}
	}
	&__descr {
		letter-spacing: 0.04em;
		color: $gray-300;
		font-weight: 300;
		font-size: rem(12);
		line-height: 1.6;
		p {
			&:not(:last-child) {
				margin-bottom: rem(24);
				@media (max-width: $mobile) {
					margin-bottom: rem(16);
				}
			}
		}
		&:not(:last-child) {
			margin-bottom: rem(24);
			@media (max-width: $mobile) {
				margin-bottom: rem(16);
			}
		}
	}
	&__row {
		display: flex;
		gap: rem(24);
		@media (min-width: $tablet) {
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		@media (max-width: $tablet) {
			flex-direction: column;
		}
	}
	&__links {
		display: flex;
		align-items: center;
		gap: rem(16) rem(24);
		flex-wrap: wrap;
		@media (max-width: $mobile) {
			gap: rem(16);
		}
	}
	&__link {
		font-size: rem(15);
		line-height: 1.6;
		color: $white;
		transition: color 0.35s;
		@media (any-hover: hover) {
			&:hover {
				color: $gray-300;
			}
		}
	}
	&__payments {
		display: flex;
		align-items: center;
		gap: rem(16);
	}
	&__payment {
		display: flex;
		align-items: center;
	}
}

a.footer-bottom__link {
	text-decoration: underline;
	text-decoration-skip-ink: none;
}
