.serv {
	padding: rem(48) rem(0);
	background: $white;
	@media (max-width: $tablet) {
		padding: rem(40) rem(0);
	}
	@media (max-width: $mobile) {
		padding: rem(32) rem(0);
	}
	&__container {
	}
	&__row {
		display: flex;
		gap: rem(32);
		@media (max-width: $mobile) {
			flex-direction: column;
		}
	}
	&__image {
		flex: 0 0 percent(400, 1280);
		@media (max-width: $tablet) {
			flex: 0 0 percent(320, 770);
		}
		@media (max-width: $mobile) {
			flex: auto;
			align-self: center;
			width: rem(400);
		}
		@media (max-width: $mobileSmall) {
			width: rem(320);
		}
		img {
			width: 100%;
			height: auto;
		}
	}
	&__content {
		flex: auto;
		@media (min-width: $tablet) {
			display: flex;
			gap: rem(32);
		}
	}
	&__middle {
		@media (min-width: $tablet) {
			flex: 0 0 percent(416, 848);
		}
		&:not(:last-child) {
			@media (max-width: $tablet) {
				margin-bottom: rem(32);
			}
		}
	}
	&__title {
		&:not(:last-child) {
			margin-bottom: rem(16);
		}
	}
	&__text {
	}
}

.serv-right {
	@media (min-width: $tablet) {
		border-left: rem(1) solid $gray-25;
		padding-left: rem(32);
		flex: auto;
	}
	@media (max-width: $tablet) {
		padding-top: rem(32);
		border-top: rem(1) solid $gray-25;
	}
	&__old-price {
		font-size: rem(15);
		line-height: 1.6;
		text-decoration: line-through;
		color: $gray-500;
		&:not(:last-child) {
			margin-bottom: rem(8);
		}
	}
	&__price {
		font-weight: 500;
		font-size: rem(28);
		line-height: 1.3;
		@media (max-width: $tablet) {
			font-size: rem(24);
		}
		@media (max-width: $mobile) {
			font-size: rem(20);
		}
		&:not(:last-child) {
			margin-bottom: rem(8);
		}
	}
	&__descr {
		font-size: rem(15);
		line-height: 1.6;
		&:not(:last-child) {
			margin-bottom: rem(24);
		}
	}
	&__list {
		&:not(:last-child) {
			margin-bottom: rem(24);
			@media (max-width: $mobile) {
				margin-bottom: rem(16);
			}
		}
	}
	&__item {
		font-size: rem(15);
		line-height: 1.6;
		display: flex;
		align-items: center;
		gap: rem(6);
		&:not(:last-child) {
			margin-bottom: rem(8);
		}
	}
	&__item-icon {
		flex: 0 0 rem(20);
		width: rem(20);
		height: rem(20);
		color: $blue-200;
	}
	&__disc {
		display: flex;
		align-items: center;
		gap: rem(8);
		font-weight: 300;
		font-size: rem(18);
		@media (max-width: $tablet) {
			font-size: rem(16);
		}
		@media (max-width: $mobile) {
			font-size: rem(15);
		}
		&:not(:last-child) {
			margin-bottom: rem(24);
			@media (max-width: $mobile) {
				margin-bottom: rem(16);
			}
		}
	}
	&__disc-icon {
		flex: 0 0 rem(22);
		width: rem(22);
		height: rem(22);
		color: $red-300;
	}
	&__btn {
		@media (max-width: $mobileSmall) {
			width: 100%;
		}
	}
}
